<table class="styled-table rounded-corners">
  <thead>
    <tr>
      <th colspan="5">
        <div style="position: relative;">
          <div style="font-size: 30px;">Bảng ...</div>
          <button class="pag" style="position: absolute; top: 5px; right: 0px;" (click)="create()">+</button>
        </div>
      </th>
    </tr>
    <tr>
      <th class="long-text-100">STT</th>
      <th class="long-text-200">Name</th>
      <th class="long-text-500">URL</th>
      <th class="long-text-100">View data</th>
      <th class="long-text-100">Config</th>
    </tr>
  </thead>
  <tbody>
    <tr class="active-row" *ngFor="let item of pages">
      <td style="text-align: center;">{{item.website_url ? item.index : ''}}</td>
      <td>{{item.website_name}}</td>
      <td>{{item.website_url}}</td>
      <td class="button-center"><button class="rec-green" (click)="navi(item.id)" *ngIf="item.website_url">Show</button></td>
      <td class="button-center"><button class="rec-green" (click)="config(item.id)" *ngIf="item.website_url">Config</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <app-pagination *ngIf="condition" [fullData]="fullData" [amount]="amount" (refresh)="refresh($event)"></app-pagination>
      </td>
    </tr>
  </tfoot>
</table>