.login-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    /* padding: 150px 30% 0; */
    width: 80%;
    max-width: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.login-container .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.input-field {
    display: flex;
    height: 56px;
    padding: 24px 0 8px 16px;
    align-items: center;
    align-self: stretch;
    outline: none;
    border-radius: 8px;
    border: 1px solid var(--neutral-grey-3, #DEDEDE);
    background: var(--neutral-white, #FEFEFE);
}

.input-field-center {
    padding: 8px 16px;
}

.input-field:focus {
    border: 2px solid #F58926;
}

.input-label {
    left: 17px !important;
    top: 8px !important;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 16px;
}

.input-label-default {
    position: absolute;
    pointer-events: none;
    left: 17px;
    top: 19px;
    font-size: 16px;
}

.verify {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    text-decoration: none;
    font-weight: 600;
}

.verifi {
    color: blue;
    cursor: pointer;
}

.sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.pointer {
    cursor: pointer;
}

.button-pay {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--neutral-grey-3, #DEDEDE);
}

.button-pay-hover:hover {
    background: var(--Secondary, #F58926);
    color: var(--neutral-white, #FEFEFE);
    cursor: pointer;
}

.verify-phone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.verify-phone-container .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.verify-phone-container .content .sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.hv {
    padding: 0;
    text-align: center;
    width: 12%;
    height: auto;
    aspect-ratio: 1;
}

.verify-phone-container .content .sub-content .component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.resend {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
}

.back {
    position: absolute;
    transform: translateX(-100%);
    top: 0;
    left: 0;
}

.verify-email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.verify-email-container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.verify-phone-container .content .sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.login-container .change {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.login-container .rectangle {
    width: 32px;
    height: 6px;
    border-radius: 100px;
}

.divi-2 {
    display: flex;
    gap: 16px;
}