<app-navigation></app-navigation>
<div class="getTableStyle">
  <div class="table">
    <div class="header" style="height: 65px;">
      <div class="sub-header" style="margin: 10px;">
        <button class="button" style="padding: 10px; opacity: 0;">
          <i class="fa-solid fa-arrow-left color-gray-1" style="font-size: 24px;"></i>
        </button>
        <div class="heading-3">Account table</div>
        <button class="button" style="padding: 10px;" (click)="create()">
          <i class="fa-solid fa-plus color-gray-1" style="font-size: 24px;"></i>
        </button>
      </div>
    </div>
    <table class="styled-table">
      <thead>
        <tr>
          <th class="body-3 long-text-100">STT</th>
          <th class="body-3 long-text-300">Username</th>
          <th class="body-3 long-text-300">Email</th>
          <th class="body-3 long-text-100">Role</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of fullData; let i = index" style="height: 62.5px;">
          <td>
            <div class="body-3 ta-center">{{item.email ? ((currentPage - 1) * amount + i + 1) : ''}}</div>
          </td>
          <td>
            <div class="body-5 ta-center">{{item.username}}</div>
          </td>
          <td>
            <div class="body-5 ta-center">{{item.email}}</div>
          </td>
          <td>
            <div class="body-5 ta-center">{{item.user_role}}</div>
          </td>
          <td class="ta-center long-text-100">
            <button class="button button-hover button-1 color-gray-1 edit-button" style="padding: 8px 24px;"
              (click)="edit(item.id)" *ngIf="item.email">Edit</button>
          </td>
          <td class="ta-center long-text-100">
            <button class="button button-hover button-1 color-gray-1 delete-button" style="padding: 8px 24px;"
              (click)="delete(item.id)" *ngIf="item.email && item.user_role.toLowerCase() !== 'admin'">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footer" style="height: 65px;">
      <app-pagination *ngIf="totalPages > 1" [totalPages]="totalPages" [currentPage]="currentPage"
        (refresh)="refresh($event)"></app-pagination>
    </div>
  </div>
</div>