<app-navigation></app-navigation>
<div style="padding: 0 150px;" [ngStyle]="getTableStyle()">
  <router-outlet></router-outlet>
</div>

<div class="modal" *ngIf="showModal" (click)="handleClose($event)">
  <div class="modal-content">
    <app-modal-config *ngIf="showModalConfig" (closeModal)="closeModal()"></app-modal-config>
    <app-modal-signin *ngIf="showModalSignin" (closeModal)="closeModal()"></app-modal-signin>
    <app-modal-signup *ngIf="showModalSignup" (closeModal)="closeModal()"></app-modal-signup>
    <app-modal-new-password *ngIf="showModalNewPassword" (closeModal)="closeModal()"></app-modal-new-password>
  </div>
</div>