<form class="form-group" [formGroup]="formConfiguration">
    <div class="w-100">
      <div class="relative">
        <label class="input-label-default color-gray-1" for="name">Name</label>
        <input class="input-field body-4 w-100" type="text" id="name" formControlName="name" />
      </div>
    </div>
    <div class="w-100">
      <div class="relative">
        <label class="input-label-default color-gray-1" for="url">Url</label>
        <input class="input-field body-4 w-100" type="text" id="url" formControlName="url" />
      </div>
    </div>
    <div class="w-100">
      <div class="relative">
        <label class="input-label-default color-gray-1" for="spider">Spider</label>
        <input class="input-field body-4 w-100" type="text" id="spider" formControlName="spider" readonly />
        <div class="card-icons">
          <button><label style="cursor: pointer;" for="fileInput">Choose File</label></button>
        </div>
      </div>
    </div>
    <div>
      <input style="display: none;" type="file" id="fileInput" (change)="onFileSelected($event)" />

      <div class="clearfix">
        <button (click)="save()">Lưu</button>
        <button *ngIf="this.id" (click)="delete()">Xóa</button>
        <button (click)="closeModal.emit()" type="button">Back</button>
      </div>
    </div>
  </form>