<app-navigation></app-navigation>
<div class="container">
  <div class="sub-container">
    <div class="parent" *ngIf="loading">
      <div class="loader child">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
      </div>
    </div>
    <div *ngIf="!loading">
      <table class="styled-table rounded-corners">
        <thead>
          <tr>
            <th colspan="4">
              <div style="position: relative;">
                <button class="pag" style="position: absolute; top: 5px; left: 0px; transform: scaleX(-1);"
                  (click)="back()">➦</button>
                <div style="font-size: 30px;">{{namePage}}</div>
                <button class="pag" style="position: absolute; top: 5px; right: 0px;" (click)="onload()">↻</button>
              </div>
            </th>
          </tr>
          <tr>
            <th class="long-text-100">STT</th>
            <th class="long-text-200">Title</th>
            <th class="long-text-500">Description</th>
            <th class="long-text-200">Link</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active-row" *ngFor="let item of views">
            <td style="text-align: center;">{{item.title ? item.index : ''}}</td>
            <td>
              <div style="overflow-y: auto; height: 100px;">{{item.title}}</div>
            </td>
            <td>
              <div style="overflow-y: auto; height: 100px;">{{item.description}}</div>
            </td>
            <td class="button-center">
              <a href={{item.link}} target="_blank">
                <button class="rec-green" *ngIf="item.title">Link</button>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <app-pagination *ngIf="condition" [fullData]="fullData" [amount]="amount"
                (refresh)="refresh($event)"></app-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>