@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');
@import url('https://fonts.cdnfonts.com/css/svn-gilroy');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    outline: none;
    border: unset;
    user-select: none;
    font-family: 'SVN-Gilroy', sans-serif;
    box-sizing: border-box;
    transition: .2s;
}

:root {
    --layout-color: #2f2f2f;

    --primary-blue-color: #314DD3;
    --error-color: #FF3830;
    --primary-color: #ffffff;
    --primary-background-color: rgb(209, 209, 209);
    --secondary-color: #f58926;
    --secondary-active-color: #ffa24b;
    --neutral-grey-2: #999;

    --box-shadow: 5px 5px 5px rgb(84, 84, 84);
}

.error {
    margin-top: 4px;
    text-align: left;
    color: var(--error-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.pointer {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.relative {
    position: relative;
}

.w-100 {
    width: 100%;
}

.ta-center {
    text-align: center;
}

.color-white {
    color: var(--primary-color);
}

.color-gray-1 {
    color: var(--neutral-grey-1, #616161);
}

.color-default {
    color: var(--text-color-default, #33343E);
}

.color-gray-300 {
    color: var(--neutral-300, #929BA2);
}

.heading-3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}

.heading-5 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
}

.heading-7 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.button-1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.body-3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.body-4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.body-5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.body-7 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.button {
    border-radius: 8px;
    background: var(--neutral-grey-3, #DEDEDE);
}

.button-hover:hover {
    background: var(--Secondary, #F58926);
    color: var(--neutral-white, #FEFEFE);
    cursor: pointer;
}

.parent {
    width: 100%;
    height: calc(100vh - 295px);
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table {
    border-radius: 10px;
    overflow: hidden;
}

.table .header,
.table .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.sub-header {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
}

.styled-table thead tr {
    height: 45px;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.styled-table .long-text-50 {
    width: 5%;
}

.styled-table .long-text-100 {
    width: 10%;
}

.styled-table .long-text-150 {
    width: 15%;
}

.styled-table .long-text-200 {
    width: 20%;
}

.styled-table .long-text-300 {
    width: 30%;
}

.styled-table .long-text-400 {
    width: 40%;
}

.styled-table .long-text-500 {
    width: 50%;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody td {
    padding: 10px;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 384px;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field {
    display: flex;
    height: 56px;
    padding: 24px 0 8px 16px;
    align-items: center;
    align-self: stretch;
    outline: none;
    border-radius: 8px;
    border: 1px solid var(--neutral-grey-3, #DEDEDE);
    background: var(--neutral-white, #FEFEFE);
}

.input-field:focus {
    border: 2px solid var(--secondary-color);
}

.input-search {
    padding: 10.5px;
    border-radius: 8px;
}

.input-label {
    left: 17px !important;
    top: 8px !important;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 16px;
}

.input-label-default {
    position: absolute;
    pointer-events: none;
    left: 17px;
    top: 19px;
    font-size: 16px;
}

.poi {
    border: none;
    padding: 3px;
    background: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .1);
}

/* pagination */
.pag, .select {
    min-width: 31px;
    height: 31px;
    border: none;
    padding: 7px;
    background: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .1);
}

.selected,
.pag:hover,
a:active,
a:focus {
    min-width: 43px;
    height: 43px;
    padding: 12px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
}

.hover:hover {
    height: 43px;
    padding: 12px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
}

/* Spinner */
.loader,
.bar {
    width: 60px;
    height: 20px;
}

.bar {
    position: absolute;
    display: flex;
    align-items: center;
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: #ffffff;
    background: var(--secondary-color);
    opacity: 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .15);
    border-radius: 10px;
    animation: slideleft 3s ease-in-out infinite;
}

.bar1::before {
    animation-delay: 0.00s
}

.bar1::after {
    animation-delay: 0.3s
}

.bar2::before {
    animation-delay: 0.60s
}

.bar2::after {
    animation-delay: 0.90s
}

.bar3::before {
    animation-delay: 1.20s
}

.bar3::after {
    animation-delay: 1.50s
}

@keyframes slideleft {
    10% {
        opacity: 0;
        transform: scale(0);
        right: 0
    }

    50% {
        opacity: 1;
        transform: scale(1)
    }

    90% {
        opacity: 0;
        transform: scale(0);
        right: 100%
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
}

.img-nextG {
    width: 138px;
    height: 32px;
}

.pri-button:hover {
    background-color: var(--primary-blue-color);
}

.edit-button:hover {
    background-color: var(--secondary-active-color);
}

.delete-button:hover {
    background-color: var(--error-color);
}

/* .getTableStyle {
    padding-left: 150px;
    padding-right: 150px;
    position: absolute;
    transform: translateY(-50%);
    top: calc(50% + 40px);
    width: -webkit-fill-available;
}

@media only screen and (max-height: 880px) {
    .getTableStyle {
        padding-top: 100px;
        padding-bottom: 20px;
        position: relative;
        transform: translateY(0);
        top: 0;
    }
} */

@media only screen and (max-width: 1024px) {
    .getTableStyle {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

.getTableStyle {
    padding: 100px 150px 20px;
}

.column {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}