@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');
@import url('https://fonts.cdnfonts.com/css/svn-gilroy');

* {
    box-sizing: border-box;
    font-family: 'SVN-Gilroy', sans-serif;
}

body {
    margin: 0;
}

:root {
    --layout-color: #2f2f2f;

    --primary-color: #ffffff;
    --primary-background-color: rgb(209, 209, 209);
    --secondary-color: #009879;
    /* --secondary-active-color: #ffa24b; */
    /* --neutral-grey-2: #999; */

    --box-shadow: 5px 5px 5px rgb(84, 84, 84);
}

.error {
    margin-top: 4px;
    text-align: left;
    color: red;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

button {
    cursor: pointer;
}

.container {
    position: relative;
    height: 100vh;
    /* Chiều cao 100% của viewport */
}

.relative {
    position: relative;
}

.w-100 {
    width: 100%;
}

.parent {
    width: 100%;
    height: 100%;
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-container {
    position: absolute;
    width: 80%;
    top: calc(50% + 45px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    /* font-size: 0.9em; */
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr,
.styled-table tfoot tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    height: 21px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    /* font-weight: bold; */
    color: #009879;
}

.styled-table .long-text-100 {
    width: 10%;
}

.styled-table .long-text-200 {
    width: 20%;
}

.styled-table .long-text-300 {
    width: 30%;
}

.styled-table .long-text-500 {
    width: 50%;
}

.styled-table td.button-center {
    text-align: center;
    width: 120px;
}

.styled-table td {
    height: 60px;
}

/* Góc bo */
.rounded-corners {
    border-radius: 5px;
    overflow: hidden;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 384px;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field {
    display: flex;
    height: 56px;
    padding: 24px 0 8px 16px;
    align-items: center;
    align-self: stretch;
    outline: none;
    border-radius: 8px;
    border: 1px solid var(--neutral-grey-3, #DEDEDE);
    background: var(--neutral-white, #FEFEFE);
}

.input-field:focus {
    border: 2px solid #009879;
}

.input-label {
    left: 17px !important;
    top: 8px !important;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 16px;
}

.input-label-default {
    position: absolute;
    pointer-events: none;
    left: 17px;
    top: 19px;
    font-size: 16px;
}

.rec-green {
    width: 70px;
    height: 31px;
    border: none;
    padding: 7px;
    background: #009879;
    color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .1);
}

/* pagination */
.pag {
    width: 31px;
    height: 31px;
    border: none;
    padding: 7px;
    background: #ffffff;
    color: #009879;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .1);
}

.selected,
.pag:hover,
a:active,
a:focus {
    width: 43px;
    height: 43px;
    padding: 12px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
}

.hover:hover {
    height: 43px;
    padding: 12px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
}

/* Spinner */
.loader,
.bar {
    width: 60px;
    height: 20px;
}

.bar {
    position: absolute;
    display: flex;
    align-items: center;
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: #ffffff;
    background: #009879;
    opacity: 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .15);
    border-radius: 10px;
    animation: slideleft 3s ease-in-out infinite;
}

.bar1::before {
    animation-delay: 0.00s
}

.bar1::after {
    animation-delay: 0.3s
}

.bar2::before {
    animation-delay: 0.60s
}

.bar2::after {
    animation-delay: 0.90s
}

.bar3::before {
    animation-delay: 1.20s
}

.bar3::after {
    animation-delay: 1.50s
}

@keyframes slideleft {
    10% {
        opacity: 0;
        transform: scale(0);
        right: 0
    }

    50% {
        opacity: 1;
        transform: scale(1)
    }

    90% {
        opacity: 0;
        transform: scale(0);
        right: 100%
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
}